
.pie-contain {}
.pie-contain text {font-family: 'roboto', 'san-serif';}
.pie-contain .temp-charts {padding:0;}


.pie-legend {overflow: hidden;margin:20px 0;}
.pie-legend>div {float:left;overflow:hidden;margin:0 10px 10px 0;width:60px;min-height:30px;}
.pie-legend-box {float:left;margin-right: 5px;width:20px;height:20px;}
.pie-legend p {font-family: 'roboto', 'san-serif';font-size:.8em;color:#333;padding-left:5px;margin:0;}

.pie-meta {}
.pie-meta h2 {font-size:1.4em;font-weight:700;color:#333;margin:0;}
.pie-meta p {font-size: .9em;font-family: 'roboto', 'san-serif';color: #555;margin:0;}

.thick {background:#aaa;height:2px;border:none;}