.pie-contain {width:440px;}

.pie {padding:50px 70px;}

text {font-family:'Helvetica',helvetica,san-serif;}

.legend {overflow: hidden;margin:20px 0;}
.legend>div {float:left;overflow:hidden;margin:0 10px 10px 0;width:115px;min-height:30px;}
.legend-box {float:left;margin-right: 5px;width:20px;height:20px;}
.legend p {font-family:'Helvetica', san-serif;font-size:.8em;color:#333;padding-left:5px;margin:0;}

.one.back {background:#66c2a5;}
.two.back {background:#8da0cb;}
.three.back {background:#fc8d62;}

section>.hed h1 {font-size:2em;font-family: "Helvetica";font-weight:700;color:#333;margin:0;}

.thick {background:#aaa;height:2px;border:none;}