.s_c_p .yaxis path, .s_c_p .yaxis line, .s_c_p .xaxis path, .s_c_p .xaxis line {fill:none;stroke:#aaa;shape-rendering:crispEdges;}
.s_c_p .tick text {font-size:.7em;font-family:helvetica,san-serif;fill:#333;}
.s_c_p rect {cursor:pointer;}

.temp-charts[role="bar"] p {font-family: 'roboto condensed', san-serif;font-size:1rem;}

/* D3 TIP
==========================================*/
.d3-tip {  line-height: 1;  font-weight: bold;  padding: 12px;  background: rgba(0, 0, 0, 0.8);  color: #fff;  border-radius: 2px;}

.d3-tip p {color:#fff;font-family: 'helvetica',san-serif;font-size: .9em;margin:5px 0;font-weight:400;}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {  box-sizing: border-box;  display: inline;  font-size: 10px;  width: 100%;  line-height: 1;  color: rgba(0, 0, 0, 0.8);  content: "\25BC";  position: absolute;  text-align: center;}

/* Style northward tooltips differently */
.d3-tip.n:after {  margin: -1px 0 0 0;  top: 100%;  left: 0;}